img{
    width: 150px;
    height:210px;
    border-radius: 20%;


}

    p{
        text-align: center;
        font-size: larger;
        background-color: wheat;
    }

    h1{
        text-align: center; 
        color:wheat;
        background-color: peru;
    }

    body{
        background-color: tan;
    }
    section{
        background-color:peru;
        width: 26%;
        height: 480px;
        text-align: center;
        padding: 15px;
        margin:40px;
        float: left;
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        font-size: larger;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:peru;
        background-color:wheat;
   
        margin-left: 39px;
    }
 
    input{
        width:100px;
        height: 35px;
        text-transform: capitalize;
        font-weight: bold;
        padding: 5px;
        border-radius: 5%;
        background-color: rgb(233, 129, 43);
        color:white;
    }
    input:hover{
        background-color: rgb(236,144,69);
        color:wheat;
    }
    a:hover{
     background-color: white;
     opacity: 80%;
    }

    h2{
        background-color: wheat;
    }

  .purvi{
      width: 900px;
      text-align: center;

  }


