/* start of home page CSS - index.html */
a{

color: rgb(165, 108, 34);
background-color: burlywood;
 font-size: 20px;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration-line: none;
padding: 20px;
margin-left: 150px;
margin-top: 40px;
}

h1{
    padding-left: 100px;
}

ul{

list-style-type: none;
margin-top: 40px;

}
li{
    display: inline;
}

a:hover{
    color:burlywood;
    background-color:rgb(165, 108, 34);

}
#logo{
    width: 350px;
    height: 250px;
    position: relative;
    left: 38%;
}
#hero{
   width: 1200px;
   height: 656px;
   position: relative;
   left: 192px; /* without "relative" you can't use "left" or any property with size adjustment*/
   margin-top: 50px;
}

#head1{
    text-align: center; 
    color:rgb(165, 108, 34);
    font-size: 45px ;
    background-color: burlywood;
    width: 1099px;
    position: relative;
    left: 192px;
    border-radius: 40% 100% 40% 100%;
    
}

p{
    
    width: 1099px;
    position: relative;
    left: 237px;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    line-height: 35px;
    word-spacing: 10px;
}
body{
    background-color:blanchedalmond;
}
.g1{
    width:1125px;
    height: 450px;
    background-color:#87551B;
    position: relative;
    left: 237px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.left{
    width: 562px;
    height: 450px;
    background-color:#87551B;
    text-align: center;
    color: white;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 38px;
    
    

}
.right{
    width: 562px;
    height: 450px;
    background-color:#87551B;

    position: relative;
    left: 526px;
    top: -400px;
}
#rightdp{
    width: 562px;
    height: 450px;
    position: relative;
    left: 561px;
    top: -353px;
}

.eyes{
   padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;

}
 
.eyes2{
    padding-left: 30px;
    padding-right: 30px;
}
#button1{
    border-radius: 32%;
    padding: 10px;
    width: 109px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    background-color:burlywood;
    color: #87551B;

}
#button1:hover{
    background-color:burlywood;
    
}
#leftdp{
    width: 562px;
    height: 450px;
}
.left1{
    margin-top: 40px;
    width: 1124px;
    height: 450px;
    background-color:#87551B;
}
.left2{
    position: relative;
    left:562px;
    width: 562px;
    top: -350px;
}

.eyes3{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.eyes4{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 38px;
}

#button2{
    border-radius: 32%;
    padding: 10px;
    width: 109px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    background-color:burlywood;
    color: #87551B;
    position:absolute;
    right: 216px;

}

.footer{
    width: 1085px;
    background-color:#29363C;
    color: aliceblue;
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-top: 60px;
    padding:20px;
    margin-bottom: -10px;
}
.gap{
    margin-top: 10px;
}
/* end of home page CSS - index.html */

/* start of contact us page CSS - contactus.html */

.contactus{
   width: 1085px;
   position: relative;
   left: 200px;
}
textarea{
    vertical-align:top;
}
.form{
    background-color: #DEB887;
    padding-top: 30px;
    padding-bottom: 30px;
    padding:20px;
    width: 1085px;
}
input{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    font-size: 24px;
    color:#87551B;
    padding: 5px;
    padding-left: 10px;
}
textarea{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    font-size: 24px;
    color:#87551B;
    padding: 5px;
    padding-left: 10px;
}
label{
    text-align: left !important; 
    font-size: 25px;
    color:#87551B;

}
button{
    font-size: 24px;
    color:#87551B;
    padding: 15px;
    padding-left: 10px;
    border-radius: 30%;
    font-weight: bold;
    background-color: #FFEBCD;
    border: #87551B 40;
    

}

#head2{
    text-align: center; 
    color:rgb(165, 108, 34);
    font-size: 45px ;
    width: 1099px;
    position: relative;
    left: 192px;
    margin-top: 71px;
}
.form1{
    text-align: center;
    background-color: #DEB887;
    padding-top: 30px;
    padding-bottom: 30px;
    padding:20px;
    width: 1085px;
}
.footer2{
    width: 1085px;
    background-color:#29363C;
    color: aliceblue;
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-top: 60px;
    padding:20px;
    margin-bottom: -10px;
    position: relative;
    left:280px;
    
}












